body {
  background-color: #fff;
  color: #4D4D4D;
  font-size: 20px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  padding-top: 30px;
}


figcaption {
  font-style: italic;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover { color:#EEFF41; } /* mouse over */

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
  line-height: 140%;
}

.container {
  margin: 0 auto;
  width: 50%;
}
